body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .app-note {
    color: #0297C9;
    display: block;
    background-color: #DBEBF2;
    padding: 10px 20px;
    border-bottom: 1px solid #0297C9;
  }

  .oecd-chart {
    border: none;
  }

  .app-chart {
    border: 1px solid #0297C9;
    margin-right: 10px;
    margin-bottom: 10px;

    .app-chart-wrapper {
      padding: 10px 20px;
    }
  }
}

.legacy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .app-chart {
    border: 1px solid #0297C9;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .oecd-chart {
    margin: 10px 20px;
    border: none;
  }
}
